<section class="timeline">
  <span class="timeline-year">
    <%= year %>
  </span>
  <span class="timeline-line"></span>
  <% group.each_slice(2) do |items| %>
    <div class="timeline-row">
      <% items.each do |item| %>
        <div class="timeline-item-container">
          <div class="timeline-item">
            <h2><%= item.title %></h2>
            <p>
              <%= item.short_description %>
              <br/>
              <br/>
              <%= link_to 'Veja detalhes deste projeto', item.url, title: item.title %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
