---
title: Entre em contato
description: Precisa de ajuda no teu projeto ou quer trocar uma ideia? Entre em contato.
active: /entre-em-contato
---

<h1>Manda teu contato aí!</h1>

<p>
  Precisa de ajuda no teu projeto ou quer trocar uma ideia de sobre programação, tecnologia ou nerd stuffs?<br/>
  <br/>
  Não fique tímido(a), manda teu contato! Prometo não enviar <%= link_to 'SPAM', 'https://www.youtube.com/watch?v=anwy2MPT5RE', target: 'blank' %>. :)
</p>

<form action="#" method="post" class="contact-form">
  <div class="contact-form-side">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" required="true" class="form-field">

    <label for="email">E-mail</label>
    <input type="email" name="email" id="email" required="true" class="form-field">
  </div>

  <div class="contact-form-side">
    <label for="mensagem">Mensagem</label>
    <textarea name="mensagem" id="mensagem" required="true" class="form-field"></textarea>
  </div>
  <br class="clearfix">
  <%= submit_tag 'Enviar Mensagem' %>
</form>

<script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/integration/stable/rd-js-integration.min.js"></script>
<script type="text/javascript">
  ;(function() {
    var form = document.getElementsByTagName('form')[0];

    form.onsubmit = function(e) {
      e.preventDefault();

      var data = [
        {name: 'nome', value: form.nome.value},
        {name: 'email', value: form.email.value},
        {name: 'mensagem', value: form.mensagem.value},
        {name: 'identificador', value: 'contato-site'},
        {name: 'token_rdstation', value: '9b550e6839731455271b44ff0e41f715'}
      ];

      RdIntegration.post(data, function() {
        alert('Obrigado pelo seu contato!');
      });
    };
  })();
</script>
