<footer>
  <p>
    Fique à vontade para entrar em contato em comigo. :)
  </p>

  <nav class="footer-nav">
    <ul>
      <% data.site.contact.each do |contact| %>
        <li><%= link_to contact[:label], contact[:link], contact[:options] %></li>
      <% end %>
    </ul>
  </nav>

</footer>
