<nav class="main-nav">
  <ul>
    <% data.site.main_nav.each do |nav| %>
      <li <%= 'class="active"' if nav[:url] == current_page.url %>>
        <%= link_to nav[:label], nav[:url] %>
      </li>
    <% end %>
  </ul>
</nav>
