:root {
  --bg-color: #1A1E23;
  --text-color: rgb(76,76,76);
  --title-color: rgb(76,76,76);
  --link-bg-color: rgb(238,238,238);
  --max-width: 60%;
}

html {
  font-size: 14px;
  line-height: 1.6;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Hasklig', monospace;
  font-size: 1rem;
}

hr {
  width: 20%;
  margin: 3em auto;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

a, h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
}

h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.3rem;
}

ul {
  padding: 0 20px;
}


a {
  text-decoration: none;
  border-bottom: 1px dashed;
}

a:hover {
  background: var(--link-bg-color);
  border-bottom: 1px solid var(--link-bg-color);
}


header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
}

header a {
  border-color: transparent;
  padding: 1em 1.2em;
}

header nav {
  display: flex;
}


main {
  max-width: var(--max-width);
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  :root {
  --bg-color: rgb(51,54,57);
  --text-color: rgb(159,159,159);
  --title-color: rgb(204,204,204);
  --link-bg-color: rgb(48,48,48);
  }
}

@media screen and (max-width: 600px) {
  :root {
    --max-width: 85%;
  }

  header, header nav {
    flex-direction: column;
    text-align: center;
  }

}
