body {
  padding-top: 20px;
  font-family: $font-family;

  &, a {
    color: $primary-color;
  }
}

a {
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.container {
  width: 960px;
  margin: 0 auto;
}



h1, h2, h3, h4, h5, h6 {
  margin-bottom: 30px;
}
