<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">

  <meta property="og:url" content={{ current_url }}></meta>
  {% block title %}
    <title>{{ section.title  }}</title>
    <meta property="og:title" content="{{ section.title }}" />
  {% endblock title %}

  {% block description %}
    <meta name="description" content="{{ section.description }}"></meta>
    <meta name="og:description" content="{{ section.description }}"></meta>
  {% endblock description %}
    
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@alesshh" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
  <link rel="stylesheet" href="{{ get_url(path="css/site.css", cachebust=true)}}">
</head>
<body>
  <header>
    {% set root_url = [get_url(path="@/_index.md"), "sobre"] %}
    {% set til_url = [get_url(path="@/til.md"), "til"] %}
    {% set lists_url = [get_url(path="@/lists.md"), "listas"] %}
    {% set links = [root_url, lists_url] %}
    <a href="{{ root_url.0 }}">alesshh</a>

    <nav>
      {% for link in links %}
        <a href="{{ link.0 }}">{{ link.1 }}</a>
      {% endfor %}
    </nav>
  </header>
  <main>
    {% block content %}
      {{section.content | safe}}
    {% endblock content %}
    <hr/>
  </main>
</body>
</html>
