<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />

  <title>{% if section %}{{ section.title }}{% else %}{{ page.title }}{% endif %}</title>
  <meta property="og:title" content="{% if section %}{{ section.title }}{% else %}{{ page.title }}{% endif %}">

  <meta property="twitter:title" content="{% if section %}{{ section.title }}{% else %}{{ page.title }}{% endif %}">


  <meta property="og:description" content="{% if section %}{{ section.description }}{% else %}{{ page.description }}{% endif %}">
  <meta name="description" content="{% if section %}{{ section.description }}{% else %}{{ page.description }}{% endif %}">
  <meta property="twitter:description" content="{% if section %}{{ section.description }}{% else %}{{ page.description }}{% endif %}">

  <meta property="og:url" content="{{ current_url }}">
  <meta property="og:site_name" content="alesshh's notes">
  <meta property="og:type" content="blog">
  <meta name="author" content="alesshh">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@alesshh">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
  <link rel="stylesheet" href="{{ get_url(path="css/site.css?ts=1")}}">
</head>
<body>
  <header>
    {% set root_url = [get_url(path="@/_index.md"), "sobre"] %}
    {% set til_url = [get_url(path="@/til.md"), "til"] %}
    {% set lists_url = [get_url(path="@/lists.md"), "listas"] %}
    {% set links = [root_url, lists_url] %}
    <a href="{{ root_url.0 }}">alesshh</a>

    <nav>
      {% for link in links %}
        <a href="{{ link.0 }}">{{ link.1 }}</a>
      {% endfor %}
    </nav>
  </header>
  <main>
    {% block content %}
      {{section.content | safe}}
    {% endblock content %}
    <hr/>
  </main>
</body>
</html>
