---
title: Desenvolvimento de sites, apps e softwares, em Ruby on Rails e tecnologias web.
description: Conheça os projetos de sites, apps e softwares que já participei e desenvolvi.
---

<h1>
  Alguns sites, apps e softwares <br/>
  que já participei e desenvolvi ao longo dos anos</h1>

<% grouped_projects.each do |year, group| %>
  <%= partial 'projects/timeline', locals: {year: year, group: group} %>
<% end %>
