$offset: 30px;
.contact-form-side {
  width: 50%;

  box-sizing: border-box;
  display: inline-block;
  float: left;

  padding-right: $offset;

  &:nth-child(even) {
    padding-right: 0;
    padding-left: $offset;
  }
}

.contact-form-field {
  border: 1px solid #ccc;
  width: 100%;
  display: block;

  margin-bottom: 20px;
  padding: 5px;
  box-sizing: border-box;

  textarea& {
    height: 110px;
  }
}

.contact-form {
  input[type='submit'] {
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
  }
}

@include respond-to(600px, max-width) {
  .contact-form-side {
    width: 100%;

    &, &:nth-child(even) {
      padding: 0;
    }
  }
}
