@import "icons/*.png";

.footer-nav {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    margin: 0 10px 0 0;
  }

  a {
    width: 32px;
    height: 32px;
    overflow: hidden;
    text-indent: -5000em;
    display: block;
  }

  $icons: email github twitter facebook instagram linkedin spotify;

  @each $icon in $icons {
    a.#{$icon} {
      @include icons-sprite(#{$icon});
    }
  }
}
